.home-page{
    min-height: 99vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    padding: 1rem;
    z-index: 10;
}


@media (max-width: 900px) {
    .home-page { grid-template-columns: repeat(2, 1fr); }
  }

@media (max-width: 600px) {
    .home-page { grid-template-columns: repeat(1, 1fr); }
  }